/*
 *=require_tree ./partials
 */
// Import base variables and mixins which bobcat and sub layouts use
@import "partials/base";
@import "partials/header";
@import "partials/sidebar";
@import "partials/content";
@import "partials/search";
@import "partials/forms";
@import "partials/facets";
@import "partials/availability";
@import "partials/full_details";
@import "partials/footer";
@import "partials/expand_contract";
@import "partials/tabs";

@import url('https://library.nyu.edu/css/common/icons.css');
@import url('https://library.nyu.edu/scripts/jquery/css/tip-custom-yellow/tip-custom-yellow.css');

body.two-col.bp.bobcat {
  #container {
    @include container;
 	}
  header, footer {
    @include column($blueprint-liquid-grid-columns);
 	}
	section.sidebar {
		//@include column($blueprint-liquid-grid-columns / 6, true);
		@include sidebar;
		@include float-right;
		margin-right: 1.5em;
	}
	section.content { 
		//@include column($blueprint-liquid-grid-columns - ($blueprint-liquid-grid-columns / 5), true);
 		margin-left: 1.5em; 
	} 
	section.sidebar { width: 23em; }
	section.content { width: auto; margin-right: 26em; }
	section.no-title { h1 { display: none; } }
	a { 
		text-decoration: none;
		color: $link_color;
		&:visited {
			color: $link_color; text-decoration: none;
		}
		&:active {
			color: $link_active_color; text-decoration: none ; 
		}
		&:hover {
			text-decoration: underline;
			color: $link_color;
		}
		img { 
			border: 0;
		}
	}	
	h1, h2, h3, h4, h5, h6 { font-family: $header_fonts; }
}

/* Pagination */
.pagination {
	margin-bottom: 1.5em;
	text-align: center;
	span {
		color: $header_bg_color;
	}
}

/* Content types */
.no_cover {
	background: #ffffff url("https://library.nyu.edu/images/common/bobcat/no_cover.gif") no-repeat 0 0;
	width: 40px;
	height: 60px;
}

/* Styles for tip link, not popup */
.tip {
	background: transparent url($tip_icon_image) no-repeat;
	padding: 0 0 10px 35px;
	font-size: 11px;
	p { margin: 0; }
}

/* Default Text style */
.defaultTextActive { color: #a1a1a1 !important; }

/* ThemeRoller overrides */
.ui-widget-content a { color: blue !important; }

/* CMS Link */
a.cmslink {
	clear: both;
	display: block;
	width: 20px !important;
	height: 20px !important;
	position: fixed;
	bottom: 0;
	left: 0;
	border: 1px solid transparent;
}

