// Import base variables and mixins which bobcat and sub layouts use
@import "lib/eshelf";

// Styles specific to ILLiad sub styles of eshelf and bobcat

.content {
  .actions { display: none; }
  table {
    thead {
      tr.row-header th {
  	    font-size: $base_font_size * 2;
  	    background: transparent;
  	    margin: 0 0 $padding_tiny 0;
  	    font-weight: lighter;
  	  }
    	tr.row-headings th {
      	border-right: $border_light;
      	border-bottom: $border_light;
    		background: $breadcrumb_bg;
    	}
  	}
  	tbody {
  	  td {
  	    border-right: $border_light;
  	  }
  	}
  }
  form {
    fieldset {
      margin-left: 0;
      padding-left: 0;
      border: 0;
      .field { 
        @include clearfix; 
        border-top: $border_content_list;
        padding: $padding_tiny 0 0 0;
        margin: 0 0 $padding_tiny 0;
        textarea {
          height: 18px;
          max-width: 300px;
          &#Other { height: 10em; }
        }
        textarea, input[type=text], select {
          display: block;
          @include float-right;
          @include clearfix;
        }
        label {
          display: block;
          width: 50%;
          @include float-left;
          @include clearfix;
        }
        span.note {
          font-size: $base_font_size * .8;
          font-weight: normal;
          color: tint(black, 10%);//#333;
        }
      }
      .request_buttons {
    	  text-align: right;
    	  @include clearfix; 
      }
    }
  }
  .status_container {
    @include wrap-text;
    margin: $padding_small 0;
    p {
      padding: ($padding_small * .3) 0;
      margin: 0;
    }
    .statusError { color: red; }
    .statusNormal { color: black; }
    .statusInformation { color: black; }
  }
  .validationError { color: red; }
  #transactionMenu { 
    border-top: $border_thin;
    border-bottom: $border_thin;
    font-weight: bold;
    padding: $padding_tiny 0;
  }
}
.sidebar {
  #search_illiad {
    ul {
      padding-left: 0;
    }
  }
}

.linkout { font-weight: bold; }

body {
  &#LoanRequest, &#EditLoanRequest { section.sidebar a#request_book { @include selected; } }
  &#ArticleRequest, &#EditArticleRequest { section.sidebar a#request_article { @include selected; } }
  &#BookChapterRequest, &#EditBookChapterRequest { section.sidebar a#request_book_chapter { @include selected; } }
  &#GenericRequestPeriodicalVolume, &#EditGenericRequestPeriodicalVolume { section.sidebar a#request_periodical_volume { @include selected; } }
  &#ThesisRequest, &#EditThesisRequest { section.sidebar a#request_dissertation_thesis { @include selected; } }
  &#GenericRequestAudioVisual, &#EditGenericRequestAudioVisual { section.sidebar a#request_audio_visual { @include selected; } }
  &#GenericRequestMusicalScore, &#EditGenericRequestMusicalScore { section.sidebar a#request_musical_score { @include selected; } }
  &#GenericRequestMicroform, &#EditGenericRequestMicroform { section.sidebar a#request_microform { @include selected; } }
  &#OtherRequest, &#EditOtherRequest { section.sidebar a#request_other { @include selected; } }

  &.view_requests { section.sidebar a#view_all { @include selected; } }
  &#ElectronicDelivery { section.sidebar a#view_electronic { @include selected; } }
  &#ViewNotifications { section.sidebar a#view_notifications { @include selected; } }
}

