[submodule "sass/lib"]
	path = sass/lib
	url = git@github.com:barnabyalter/nyu-libraries-stylesheets.git
[submodule "javascripts/lib"]
	path = javascripts/lib
	url = git@github.com:barnabyalter/nyu-libraries-javascripts.git
