{{#form}}
          <form action="illiad.dll" method="post" name="{{form_name}}" class="f-wrap-request">
            {{#hidden_fields}}
            <input type="hidden" name="{{name}}" value="{{value}}">
            {{/hidden_fields}}
            <h3>{{{header}}}</h3>
            <fieldset>		
              <div class="req"><b>*</b> Indicates required field</div>	
              <#STATUS>
              <h2>{{sub_header}}</h2>		
                {{#form_fields}}	
                <label for="{{field}}">
                <span class="field">
                {{#required}}
                <span class="req">*</span>
                {{/required}}
                <span class="<#ERROR name="ERROR{{field}}">"><b>{{field_title}}</b></span><br />
                {{#note}}
                <span class="note">{{{note}}}</span>
                {{/note}}
                </span>
                {{#textarea}}
                <textarea id="{{field}}" name="{{field}}" class="f-name" tabindex="{{tabindex}}"><#PARAM name="{{field}}"></textarea>
                {{/textarea}}
                {{#input_text}}
                <input id="{{field}}" name="{{field}}" class="f-name" tabindex="{{tabindex}}" value="<#PARAM name="{{field}}">">
                {{/input_text}}
                {{#select}}
                <select id="{{field}}" name="{{field}}" class="f-name" tabindex="{{tabindex}}">
                <option selected><#PARAM name="{{field}}"></option>
                {{#options}}
                <option value="{{value}}">{{title}}</option>
                {{/options}}
                </select>
                {{/select}}
                <br />
                </label>		
                {{/form_fields}}
                {{#footer}}
                <p>
                  <b>{{{footer}}}</b>
                </p>  
                {{/footer}}    
              <#INCLUDE filename="include_request_buttons.html">
            </fieldset>
          </form>
{{/form}}