{{#form}}
<form action="<#DLL>" method="post" name="{{form_name}}" class="f-wrap-request">
            {{#hidden_fields}}
            <input type="hidden" name="{{name}}" value="{{{value}}}" />
            {{/hidden_fields}}
            <h2>{{{form_header}}}</h2>
            <div><span class="req">*</span> Indicates required field</div>	
            <fieldset>
              <h3>{{sub_header}}</h3>
                  <div class="status_container">
                  <#STATUS>
                  </div>
                {{#form_fields}}	
                <div class="field">
                  <label for="{{field}}">
                  {{#required}}
                  <span class="req">*</span>
                  {{/required}}
                  <span class="<#ERROR name="ERROR{{field}}">">{{{field_title}}}</span><br />
                  {{#note}}
                  <span class="note">{{{note}}}</span><br />
                  {{/note}}
                  </label>
                  {{#textarea}}
                  <textarea id="{{field}}" name="{{field}}" tabindex="{{count}}"><#PARAM name="{{field}}"></textarea>
                  {{/textarea}}
                  {{#input_text}}
                  <input type="text" id="{{field}}" name="{{field}}" class="text" tabindex="{{count}}" value="<#PARAM name="{{field}}">" />
                  {{/input_text}}
                  {{#select}}
                  <select id="{{field}}" name="{{field}}" tabindex="{{count}}">
                    <option selected><#PARAM name="{{field}}"></option>
                  {{#options}}
                  {{#value}}
                    <option value="{{value}}">
                    {{#title}}
                      {{title}}
                    {{/title}}
                    {{^title}}
                      {{value}}
                    {{/title}}
                    </option>
                  {{/value}}
                  {{/options}}
                  </select>
                  {{/select}}	
                </div>
                {{/form_fields}}
                {{#footer}}
                <div class="field">
                <p>
                  {{{footer}}}
                </p>
                </div>
                {{/footer}} 
              <#INCLUDE filename="include_request_buttons.html">
            </fieldset>
          </form>
{{/form}}