        {{#page_header}}<h2>{{{page_header}}}</h2>{{/page_header}}
        {{#filter_by}}
        {{#actions}}
        <form action="{{filter_action}}" method="{{filter_method}}">
          <div class="actions">
          <label for="{{id}}">{{title}}</label>
          <select id="{{id}}" name="{{name}}"><option value=""></option>
            {{#optgroups}}
            <optgroup label="{{title}}">
              {{#options}}
                <option value="{{value}}">{{title}}</option>
              {{/options}}
            </optgroup>
            {{/optgroups}}
          </select>
          <input id="user_submit" name="commit" type="submit" value="Submit" />
          </div>
        </form>
        {{/actions}}
        {{/filter_by}}
        {{{menu}}}
        <div class="status_container">
        {{{status}}}
        </div>
        {{{table_code}}}
