        {{#filter_by}}
        {{#actions}}
        <form action="illiad.dll"  method="get">
          <div class="actions">
          <label for="{{id}}">{{title}}</label>
          <select id="{{id}}" name="{{name}}"><option value=""></option>
            {{#optgroups}}
            <optgroup label="{{title}}">
              {{#options}}
                <option value="{{value}}">{{title}}</option>
              {{/options}}
            </optgroup>
            {{/optgroups}}
          </select>
          <input id="user_submit" name="commit" type="submit" value="Submit" />
          </div>
        </form>
        {{/actions}}
        {{/filter_by}}
        {{{menu}}}
        <div class="status_container">
        <#STATUS>
        </div>
        {{#tables}}
        {{#text_above}}
        <div class="pre_table_text">
          {{{text_above}}}
        </div>
        {{/text_above}}
        <div class="{{class}}" id="{{name}}Table">			
          <#TABLE{{#name}} name="{{name}}"{{/name}}{{#headerText}} headerText="{{headerText}}"{{/headerText}}{{#hideColumnHeaders}} hideColumnHeaders="{{hideColumnHeaders}}"{{/hideColumnHeaders}}{{#maxRows}} maxRows="{{maxRows}}"{{/maxRows}}{{#noDataAction}} noDataAction="{{noDataAction}}"{{/noDataAction}}{{#noDataMessage}} noDataMessage="{{noDataMessage}}"{{/noDataMessage}}{{#columns}} column="{{.}}"{{/columns}}{{#orderBy}} orderBy="{{orderBy}}"{{/orderBy}}>
        </div>
        {{#text_below}}
        <div class="post_table_text">
          {{{text_below}}}
        </div>
        {{/text_below}}
        {{/tables}}