<!DOCTYPE html> 
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <title>
      BobCat - ILL - Request an Article
    </title> 
    <#INCLUDE filename="include_meta.html">
    <#INCLUDE filename="include_stylesheets.html">
    <#INCLUDE filename="include_javascripts.html">
  </head>
  <body id="ArticleRequest" class="bp two-col bobcat eshelf illiad">
    <div id="container">
      <#INCLUDE filename="include_header.html">
      
      <div class="clearBoth"></div>
      
      <#INCLUDE filename="include_menu.html">     
      
      <section id="content" class="content">
        <form action="<#DLL>" method="post" name="ArticleRequest" id="IlliadForm">
            <input type="hidden" name="ILLiadForm" value="ArticleRequest" />
            <input type="hidden" name="Username" value="<#PARAM name="Username">" />
            <input type="hidden" name="SessionID" value="<#PARAM name="SessionID">" />
            <h2>Request an Article</h2>
            <div><span class="req">*</span> Indicates required field</div>
            <fieldset>
              
                  <div class="status_container">
                  <#STATUS>
                  </div>
                
                <div class="field">
                  <label for="PhotoArticleTitle">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORPhotoArticleTitle">">Article Title</span><br />
                  </label>
                  <input type="text" id="PhotoArticleTitle" name="PhotoArticleTitle" class="text" tabindex="1" value="<#PARAM name="PhotoArticleTitle">" maxlength="250" />
                </div>
                <div class="field">
                  <label for="PhotoArticleAuthor">
                  <span class="<#ERROR name="ERRORPhotoArticleAuthor">">Article Author</span><br />
                  </label>
                  <input type="text" id="PhotoArticleAuthor" name="PhotoArticleAuthor" class="text" tabindex="2" value="<#PARAM name="PhotoArticleAuthor">" maxlength="100" />
                </div>
                <div class="field">
                  <label for="PhotoJournalTitle">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORPhotoJournalTitle">">Journal Title</span><br />
                  <span class="note">Please do not abbreviate unless your citation is abbreviated</span><br />
                  </label>
                  <input type="text" id="PhotoJournalTitle" name="PhotoJournalTitle" class="text" tabindex="3" value="<#PARAM name="PhotoJournalTitle">" maxlength="255" />
                </div>
                <div class="field">
                  <label for="PhotoJournalVolume">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORPhotoJournalVolume">">Volume Number</span><br />
                  </label>
                  <input type="text" id="PhotoJournalVolume" name="PhotoJournalVolume" class="text" tabindex="4" value="<#PARAM name="PhotoJournalVolume">" maxlength="30" />
                </div>
                <div class="field">
                  <label for="PhotoJournalIssue">
                  <span class="<#ERROR name="ERRORPhotoJournalIssue">">Issue Number</span><br />
                  </label>
                  <input type="text" id="PhotoJournalIssue" name="PhotoJournalIssue" class="text" tabindex="5" value="<#PARAM name="PhotoJournalIssue">" maxlength="30" />
                </div>
                <div class="field">
                  <label for="PhotoJournalYear">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORPhotoJournalYear">">Year</span><br />
                  </label>
                  <input type="text" id="PhotoJournalYear" name="PhotoJournalYear" class="text" tabindex="6" value="<#PARAM name="PhotoJournalYear">" maxlength="30" />
                </div>
                <div class="field">
                  <label for="PhotoJournalInclusivePages">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORPhotoJournalInclusivePages">">Pages</span><br />
                  </label>
                  <input type="text" id="PhotoJournalInclusivePages" name="PhotoJournalInclusivePages" class="text defaultText" tabindex="7" value="<#PARAM name="PhotoJournalInclusivePages">" title="(e.g., 7-12; 5, 6-8, 10-15)" maxlength="30" />
                </div>
                <div class="field">
                  <label for="ESPNumber">
                  <span class="<#ERROR name="ERRORESPNumber">">OCLC Number <a href="https://library.answers.nyu.edu/website/faq/134617" class="nyulibrary_icons_help iconlink" title="" target="_blank">&nbsp;</a></span><br />
                  <span class="note">Will speed processing.</span><br />
                  </label>
                  <input type="text" id="ESPNumber" name="ESPNumber" class="text" tabindex="8" value="<#PARAM name="ESPNumber">" maxlength="32" />
                </div>
                <div class="field">
                  <label for="ISSN">
                  <span class="<#ERROR name="ERRORISSN">">ISSN <a href="https://library.answers.nyu.edu/website/faq/134614" class="nyulibrary_icons_help iconlink" title="" target="_blank">&nbsp;</a></span><br />
                  <span class="note">Will speed processing.</span><br />
                  </label>
                  <input type="text" id="ISSN" name="ISSN" class="text" tabindex="9" value="<#PARAM name="ISSN">" maxlength="20" />
                </div>
                <div class="field">
                  <label for="AcceptNonEnglish">
                  <span class="<#ERROR name="ERRORAcceptNonEnglish">">Accept article in languages other than English? </span><br />
                  <span class="note">If yes, specify languages in "Notes" below.</span><br />
                  </label>
                  <select id="AcceptNonEnglish" name="AcceptNonEnglish" tabindex="10">
                    <option selected><#PARAM name="AcceptNonEnglish"></option>
                    <option value="No">
                      No
                    </option>
                    <option value="Yes">
                      Yes
                    </option>
                  </select>
                </div>
                <div class="field">
                  <label for="ShippingOptions">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORShippingOptions">">Pickup Location</span><br />
                  </label>
                  <select id="ShippingOptions" name="ShippingOptions" tabindex="11">
                    <option selected><#PARAM name="ShippingOptions"></option>
                    <option value="New School List Center Library">
                      New School List Center Library
                    </option>
                    <option value="New School Performing Arts Library" selected>
                      New School Performing Arts Library
                    </option>
                    <option value="New School University Center Library">
                      New School University Center Library
                    </option>
                  </select>
                </div>
                <div class="field">
                  <label for="CitedIn">
                  <span class="<#ERROR name="ERRORCitedIn">">Please specify "Other" global site</span><br />
                  </label>
                  <input type="text" id="CitedIn" name="CitedIn" class="text" tabindex="12" value="<#PARAM name="CitedIn">" />
                </div>
                <div class="field">
                  <label for="Notes">
                  <span class="<#ERROR name="ERRORNotes">">Notes</span><br />
                  </label>
                  <textarea id="Notes" name="Notes" tabindex="13" maxlength="200"><#PARAM name="Notes"></textarea>
                </div>
                <div class="field">
                <p>
                  <b>By submitting this request you agree to adhere to all restrictions regarding this material expressed in <a href="http://guides.nyu.edu/friendly.php?s=copyright" target="_blank">U.S. Copyright Law</a>.</b>
                </p>
                </div>
              <#INCLUDE filename="include_request_buttons.html">
            </fieldset>
          </form>

      </section>
      
      <#INCLUDE filename="include_footer.html">
    </div>
  </body>
</html>

