<!DOCTYPE html> 
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <title>
      BobCat - ILL - Edit Book Request
    </title> 
    <#INCLUDE filename="include_meta.html">
    <#INCLUDE filename="include_stylesheets.html">
    <#INCLUDE filename="include_javascripts.html">
  </head>
  <body id="EditLoanRequest" class="bp two-col bobcat eshelf illiad">
    <div id="container">
      <#INCLUDE filename="include_header.html">
      
      <div class="clearBoth"></div>
      
      <#INCLUDE filename="include_menu.html">     
      
      <section id="content" class="content">
        <form action="<#DLL>" method="post" name="EditLoanRequest" id="IlliadForm">
            <input type="hidden" name="ILLiadForm" value="EditLoanRequest" />
            <input type="hidden" name="Username" value="<#PARAM name="Username">" />
            <input type="hidden" name="SessionID" value="<#PARAM name="SessionID">" />
            <input type="hidden" name="TransactionNumber" value="<#PARAM name="TransactionNumber">" />
            <h2>Edit Book Request</h2>
            <div><span class="req">*</span> Indicates required field</div>
            <fieldset>
              
                  <div class="status_container">
                  <#STATUS>
                  </div>
                <div class="linkout nyulibrary_icons_information">
        Just need a chapter? Use the <a href="<#ACTION action="10" form="23">">Book Chapter</a> form.
      </div>
                <div class="field">
                  <label for="LoanTitle">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORLoanTitle">">Title</span><br />
                  <span class="note">Please do not abbreviate unless your citation is abbreviated</span><br />
                  </label>
                  <input type="text" id="LoanTitle" name="LoanTitle" class="text" tabindex="1" value="<#PARAM name="LoanTitle">" maxlength="255" />
                </div>
                <div class="field">
                  <label for="LoanAuthor">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORLoanAuthor">">Author/Editors</span><br />
                  </label>
                  <input type="text" id="LoanAuthor" name="LoanAuthor" class="text" tabindex="2" value="<#PARAM name="LoanAuthor">" maxlength="100" />
                </div>
                <div class="field">
                  <label for="LoanPlace">
                  <span class="<#ERROR name="ERRORLoanPlace">">Place of Publication</span><br />
                  </label>
                  <input type="text" id="LoanPlace" name="LoanPlace" class="text" tabindex="3" value="<#PARAM name="LoanPlace">" maxlength="30" />
                </div>
                <div class="field">
                  <label for="LoanPublisher">
                  <span class="<#ERROR name="ERRORLoanPublisher">">Publisher</span><br />
                  </label>
                  <input type="text" id="LoanPublisher" name="LoanPublisher" class="text" tabindex="4" value="<#PARAM name="LoanPublisher">" maxlength="50" />
                </div>
                <div class="field">
                  <label for="LoanDate">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORLoanDate">">Publication Date</span><br />
                  </label>
                  <input type="text" id="LoanDate" name="LoanDate" class="text" tabindex="5" value="<#PARAM name="LoanDate">" maxlength="30" />
                </div>
                <div class="field">
                  <label for="LoanEdition">
                  <span class="<#ERROR name="ERRORLoanEdition">">Edition</span><br />
                  </label>
                  <input type="text" id="LoanEdition" name="LoanEdition" class="text" tabindex="6" value="<#PARAM name="LoanEdition">" maxlength="30" />
                </div>
                <div class="field">
                  <label for="ESPNumber">
                  <span class="<#ERROR name="ERRORESPNumber">">OCLC Number <a href="https://library.answers.nyu.edu/website/faq/134617" class="nyulibrary_icons_help iconlink" title="" target="_blank">&nbsp;</a></span><br />
                  <span class="note">Will speed  processing.</span><br />
                  </label>
                  <input type="text" id="ESPNumber" name="ESPNumber" class="text" tabindex="7" value="<#PARAM name="ESPNumber">" maxlength="32" />
                </div>
                <div class="field">
                  <label for="ISSN">
                  <span class="<#ERROR name="ERRORISSN">">ISBN <a href="https://library.answers.nyu.edu/website/faq/134616" class="nyulibrary_icons_help iconlink" title="" target="_blank">&nbsp;</a></span><br />
                  <span class="note">Will speed processing</span><br />
                  </label>
                  <input type="text" id="ISSN" name="ISSN" class="text" tabindex="8" value="<#PARAM name="ISSN">" maxlength="20" />
                </div>
                <div class="field">
                  <label for="AcceptNonEnglish">
                  <span class="<#ERROR name="ERRORAcceptNonEnglish">">Accept book in languages other than English?</span><br />
                  <span class="note">If yes, specify languages in "Notes" below.</span><br />
                  </label>
                  <select id="AcceptNonEnglish" name="AcceptNonEnglish" tabindex="9">
                    <option selected><#PARAM name="AcceptNonEnglish"></option>
                    <option value="No">
                      No
                    </option>
                    <option value="Yes">
                      Yes
                    </option>
                  </select>
                </div>
                <div class="field">
                  <label for="AcceptAlternateEdition">
                  <span class="<#ERROR name="ERRORAcceptAlternateEdition">">Accept an alternate edition?</span><br />
                  </label>
                  <select id="AcceptAlternateEdition" name="AcceptAlternateEdition" tabindex="10">
                    <option selected><#PARAM name="AcceptAlternateEdition"></option>
                    <option value="No">
                      No
                    </option>
                    <option value="Yes">
                      Yes
                    </option>
                  </select>
                </div>
                <div class="field">
                  <label for="Ariel">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORAriel">">Would you prefer a print copy of this book, if available?</span><br />
                  </label>
                  <select id="Ariel" name="Ariel" tabindex="11">
                    <option selected><#PARAM name="Ariel"></option>
                    <option value="No">
                      No
                    </option>
                    <option value="Yes">
                      Yes
                    </option>
                  </select>
                </div>
                <div class="field">
                  <label for="ShippingOptions">
                  <span class="req">*</span>
                  <span class="<#ERROR name="ERRORShippingOptions">">Pickup Location</span><br />
                  </label>
                  <select id="ShippingOptions" name="ShippingOptions" tabindex="12">
                    <option selected><#PARAM name="ShippingOptions"></option>
                   <option value="New School List Center Library">
                      New School List Center Library
                    </option>
                    <option value="New School Performing Arts Library" selected>
                      New School Performing Arts Library
                    </option>
                    <option value="New School University Center Library">
                      New School University Center Library
                    </option>
                  </select>
                </div>
                <div class="field">
                  <label for="Notes">
                  <span class="<#ERROR name="ERRORNotes">">Notes</span><br />
                  </label>
                  <textarea id="Notes" name="Notes" tabindex="13" maxlength="200"><#PARAM name="Notes"></textarea>
                </div>
                <div class="field">
                <p>
                  <b>By submitting this request you agree to adhere to all restrictions regarding this material expressed in <a href="http://guides.nyu.edu/friendly.php?s=copyright" target="_blank">U.S. Copyright Law</a>.</b>
                </p>
                </div>
              <#INCLUDE filename="include_request_buttons.html">
            </fieldset>
          </form>

      </section>
      
      <#INCLUDE filename="include_footer.html">
    </div>
  </body>
</html>

