<!DOCTYPE html> 
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <title>
      BobCat - ILL - Electronic Delivery Undelete
    </title> 
    <#INCLUDE filename="include_meta.html">
    <#INCLUDE filename="include_stylesheets.html">
    <#INCLUDE filename="include_javascripts.html">
  </head>
  <body id="ElectronicDeliveryUndelete" class="bp two-col bobcat eshelf illiad">
    <div id="container">
      <#INCLUDE filename="include_header.html">
      
      <div class="clearBoth"></div>
      
      <#INCLUDE filename="include_menu.html">     
      
      <section id="content" class="content">
                
        
        <div class="status_container">
        <#STATUS>
        </div>
        
    <div class="default-table" id="ElectronicDeliveryUndeleteTable">			
      <#TABLE name="ElectronicDeliveryUndelete" headerText="Deleted Electronically Received Articles">
    </div>
    

      </section>
      
      <#INCLUDE filename="include_footer.html">
    </div>
  </body>
</html>

