<!DOCTYPE html> 
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <title>
      BobCat - ILL - Error
    </title> 
    <#INCLUDE filename="include_meta.html">
    <#INCLUDE filename="include_stylesheets.html">
    <#INCLUDE filename="include_javascripts.html">
  </head>
  <body id="Error" class="bp two-col bobcat eshelf illiad">
    <div id="container">
      <#INCLUDE filename="include_header.html">
      
      <div class="clearBoth"></div>
      
      <#INCLUDE filename="include_menu.html">     
      
      <section id="content" class="content">
                    <h2>Oops! We've encountered a problem.</h2>
              <div class="text_section" id="status">
              
              <div class="status_container">
                <#STATUS>
              </div>
              </div>

      </section>
      
      <#INCLUDE filename="include_footer.html">
    </div>
  </body>
</html>

