<header>
  <a href="https://library.newschool.edu" target="_blank">
    <img src="images/signature-tns-100.jpg" alt="The New School Libraries" width="249" height="40" />
  </a>
</header>
<nav>
  <ul class="breadcrumbs">
    <li><a href="https://library.newschool.edu">The New School Libraries</a></li>
    <li><a href="http://bobcat.library.nyu.edu/primo-explore/search?vid=NS2-NUI">Library Catalog</a></li>
    <li class="last">E-Shelf</li>
  </ul>
  
    <ul class="login">
      <li>
        <li><a href="<#ACTION action="99">" class="nyulibrary_icons_logout">Log-out <span class="logout_username"><#USER field="FirstName"></span> </a></li>
      </li>
    </ul>
    
</nav>
<hgroup>
  <h1>
    <span>e-Shelf</span>
  </h1>
  <div class="username">
    for <#USER field="FirstName"> <#USER field="LastName">
  </div>
  <div class="back-to-results">
    
  </div>
</hgroup>
