<html>
<head>
<meta http-equiv="Pragma" content="no-cache">
<title>ILLiad Logon</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<link rel="stylesheet" type="text/css" href="css/mobile.css" media="only screen and (max-device-width: 480px)" />
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" /> 
<link rel="apple-touch-icon" href="iphone-icon.png" />
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="css/ie6_or_less.css" />
<![endif]-->
</head>
<body id="type-a">
<div id="wrap">
  <div id="header"> 
  	<span id="site-name">ILLiad</span>
    <div id="status">Enter your user information below.<br />
      Then press the Logon to ILLiad button to continue.
	 </div>
  </div>
  <div id="content-wrap">
    <div id="content">
		<form action="illiad.dll" method="post" name="Logon" class="f-wrap-1">
			<input type="hidden" name="ILLiadForm" value="Logon">
			<div id="logonform">
				<fieldset>			
					<h3>ILLiad Logon</h3>			
					<label for="username">
						<span class="field">
							<b>Username</b>
						</span>
						<input id="username" name="Username" type="text" class="f-name" /><br />
					</label>			
					<label for="password">
						<span class="field">
							<b>Password</b>
						</span>
						<input id="password" name="Password" type="password" class="f-name" /><br />
					</label>
							
					<div class="f-submit-wrap">
						<input type="submit" name="SubmitButton" value="Logon to ILLiad" class="f-submit" /><br />
					</div>
				</fieldset>
			</div>
		</form>

		<a href="illiad.dll?Action=10&Form=84">Forgot Password?</a><br />
		<a href="illiad.dll?Action=10&Form=79">First Time Users</a>
		<div id="footer">
			Copyright &copy; 2015 <a href="http://www.atlas-sys.com">Atlas Systems, Inc.</a> All Rights Reserved.
      	</div>
    </div>    
  </div>
</div>
</body>
</html>
