<!DOCTYPE html> 
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <title>
      BobCat - ILL - Items Available to Check Out
    </title> 
    <#INCLUDE filename="include_meta.html">
    <#INCLUDE filename="include_stylesheets.html">
    <#INCLUDE filename="include_javascripts.html">
  </head>
  <body id="ViewRenewCheckedOutItems" class="bp two-col bobcat eshelf illiad view_requests">
    <div id="container">
      <#INCLUDE filename="include_header.html">
      
      <div class="clearBoth"></div>
      
      <#INCLUDE filename="include_menu.html">     
      
      <section id="content" class="content">
                
        <form action="illiad.dll" method="get">
          <div class="actions">
          <label for="service_action">Actions</label>
          <select id="service_action" name="service[action]"><option value=""></option>
            <optgroup label="View">
                <option value="Action%3D10%26Form%3D60">Request History</option>
                <option value="Action%3D10%26Form%3D62">Requests in Processing</option>
                <option value="Action%3D10%26Form%3D66">Items Available to Check Out</option>
                <option value="Action%3D10%26Form%3D70">Requests Cancelled</option>
                <option value="Action%3D10%26Form%3D68">Requests Completed</option>
            </optgroup>
          </select>
          <input id="user_submit" name="commit" type="submit" value="Submit" />
          </div>
        </form>
        
        <div class="status_container">
        <#STATUS>
        </div>
        
    <div class="default-table" id="ViewRenewCheckedOutItemsTable">			
      <#TABLE name="ViewRenewCheckedOutItems" headerText="Items Available to Check Out" noDataAction="ShowMessageRow" noDataMessage="No Requests" column="TransactionNumber:Transaction Number (TN)" column="DocumentType:Format Type" column="Title" column="Author" column="DueDate:Due Date" column="RenewalsAl:Can I renew?" orderBy="TransactionNumber DESC">
    </div>
    

      </section>
      
      <#INCLUDE filename="include_footer.html">
    </div>
  </body>
</html>

