$available_color: green;
$check_availability_color: #d64516;

@mixin available {
	color: $available_color;
}

@mixin check_availability {
	color: $check_availability_color;
}

body.two-col.bp.bobcat {
	/* Availability */
	.getItPurple, .getItGreen, .greenAvailable, .purpleAvailable {
		@include available;
		&:hover {	@include available; }
		&:visited {	@include available; }
	}

	.yellowAvailable, .redAvailable, .getItYellow, .getItRed {
		@include check_availability;
		&:hover {	@include check_availability;	}
		&:visited {	@include check_availability; }
	}
}

