$bullet_right: "https://library.nyu.edu/images/bullet_collapse_right.png";
$bullet_left: "https://library.nyu.edu/images/bullet_collapse_left.png";
$background_color: #ccc;
$background_hover_color: #999;

div.collapsible-sidebar {
	overflow: hidden;
	z-index: 1;
	a.contract-toggler {
    float:left;
    width: 7px;
    margin: -1em !important;
    background: $background_color url($bullet_right) no-repeat center center;
    z-index: 100;
    &:hover {
    	background: $background_hover_color url($bullet_right) no-repeat center center;
    	z-index: 100;
    }
	}
	a.expand-toggler {
		float:left;
		width: 7px;
		margin: -1em !important;
		background: $background_color url($bullet_left) no-repeat center center;
		z-index: 100;
		&:hover {
			background: $background_hover_color url($bullet_left) no-repeat center center;
			z-index: 100;
		}
	}
}
