/* Facets */
.results_with_facets {
	margin-left: 19em;
}
#facets {
	float: left;
	width: 17em;
	border: $content_list_border;
	div {
  	margin: 1em 0;
	}
	ul li {
  	background-image: none;
	  margin: auto; 
	  padding: auto; 
	  margin-bottom: auto; 
	  line-height: auto; 
	}
	h2 {
		background: $header_bg_color url($header_bg_image) repeat-x top left;
		margin: 0 !important;
		padding: 5px 5px 5px 10px !important;
		font-size: 110%;
		font-weight: normal;
	}
	.box {
		border-bottom: $content_list_border;
		margin: .5em 1em;
 		h3 {
			font-size: 12px;
		}
		ul {
			padding: .25em 0px;
			font-size: 12px;
			li {
				padding: .25em 0px;
				font-size: 12px;
			}
		}
	}
}