/* Forms 
form {
	@include no-padding;
	margin: 0 0 1em 0;
	font-family: $text_fonts;
	font-size: 12px;
	button, input[type="submit"], input[type="reset"], input[type="button"] {
		margin: 5px 0;
	}
	input[type="text"], input[type="password"], textarea {
		width: 26em;
	}
	fieldset {
		border: $thin_border;
		margin: 5px 0;
		padding: 10px;
	}
	legend {
		font-family: $text_fonts;
		color: black;
		font-size: 14px; 
		font-weight: bold; 
		margin-bottom: 2px; 
		@include no-padding;
	}
	label {
		@include no-padding;
		@include no-margin;
	}
}*/