header {
	background-color: white;
	margin-bottom: 1.5em;
	> h1 span { visibility: hidden; position: absolute; }
	h1 {
		background: $top_logo_color url($top_banner) top left no-repeat;
		margin: 0;
		height: 67px;	
	}
	hgroup {
		margin-top: 2em;
		display: block;
 		h1 {
			@include float-left;
			font-weight: normal;
			background: white url($eshelf_image) no-repeat top left;
			margin: 0 0 0 .5em;
			padding: 0 0 0 95px;
			font-size: 300%;	
			line-height: 65px;
		}
		.username {
			@include float-left;
			@include page-header-text;
			@include page-header-small-spacing;
		}
	 	.what-is {
			@include float-left;
			padding-left: 66px;
		}
		.back-to-home {
			@include float-right;
			@include page-header-text;
		}
	 .back-to-results {
			@include float-right;
			@include page-header-text;
			@include page-header-small-spacing;
			margin-right: 1.5em
		}
	}
	nav { 
		width: 100%;
		background-color: $breadcrumb_bg;
		overflow: auto;
		ul {
			@include no-style-list;
			@include no-margin;
			padding: 10px 18px;	
			li {
				@include no-style-list-item;
				display: inline;
				background-color: $breadcrumb_bg none;
				font-size: 90%;
				color: $breadcrumb_text;
				font-family: $text_fonts;
			}
			&.breadcrumbs li:after {
				content: " > ";
			}
			&.breadcrumbs li.last:after {
				content: "";
			}
		}
		.breadcrumbs { @include float-left }
		.login { @include float-right }
	}
	div#bobcat_logo {
		@include no-padding;
		@include float-right;
		width: 130px;
		height: 67px;
		line-height: 67px;
		background: transparent url($bobcat_logo) no-repeat center center;
		margin: 0 .5em;
	}
	#hd_link_to_home {
		height: 38px;
		width: 147px;
		z-index: 100;
		margin-top: 18px;
		margin-left: 18px;
		position: absolute;
	}
}
