@mixin sidebar {
	font-family: $text_fonts;
	.box {
		background: $box_bg_color url($box_bg_image) repeat-x top left;
		h2 {
			background: $header_bg_color url($header_bg_image) repeat-x top left;
			padding: 0.3em 1em;
			font-size: 110%;
			font-weight: normal;
		}
		h3 { 
			font-size: 110%;	
			font-weight: bold;
		}
		input[type="text"], #js_search_tags input[type="text"] {
			background-image: url($magnifier_image);
			background-position: 6px 50%;
			background-repeat: no-repeat;
			width: 80%;
			border: $thin_border;
			padding: 5px 0 5px 24px;
		}
		ul { @include no-style-list; }
		> ul {
		  @include no-margin;
			padding-bottom: 1.5em;
			padding-left: .5em;
			li { padding: .5em; }
			&.tags_list {
				margin: 0 auto;
				padding: 0 auto;
				li {
					padding: 5px 0 0;
					margin-right: 0;
				}
			}
		}
	} 
}