#tabs {
	font-family:  $text_fonts;
	font-size: 12px !important;
	/* BG color included for IE */
	background-color: #fff;
	.searchBox {
		margin-top: 20px !important;
		margin-bottom: 30px !important;
		padding-top: 0px !important;
		padding-left: 0px !important;
	}
	ul {
		@include no-margin;
		@include no-padding;
		width: 100%;
		height: 31px;
		background-color: #fff;
		li {
			@include no-margin;
			@include no-padding;
			width: 16%;
			overflow: hidden;
			border-right: $light_border;
			min-width: 100px;
			line-height: auto;
			background-image: none !important;
			@include float-left;
			a {
				@include no-margin;
				@include no-padding;
				display: block;
				width: 12.5em;
				height: 31px;
				border-right: $tab_border;
				line-height: 31px;
				text-align: center;
				background: $header_bg_color url($header_bg_image) repeat-x top left;
				color: black;	
				width: 100%;
			}
			&.selected a {
				display: block;
				background: $active_tab_color url($header_bg_image_light) repeat-x top left;
			}
		}
	}
}